body{
		background-color:#161840;
		font-family:Nanum Gothic, sans-serif;
}
#navigation{
		background-color: #1d206e;
		width:100%;
		height:10ch;
		display: flex;
		border-radius: 40px;
		vertical-align:middle;
		justify-content: space-between;
}
#navigation ul li{
	list-style-type: none;
	display: inline;
}
#navigation li{
		margin-right: 100px;
}
#custom{
	background:-webkit-linear-gradient(#bee620, #30e620);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.redirect{
	border: transparent;
	border-radius: 40px;
	background-color: #0e170d;
	height:5ch;
	width:15ch;
	
}
.redirect:active{
	background-color: #1e331c;
	transform: translateY(3px);
}
.redirect:hover{
	cursor: pointer;
}
